.header {
  height: 48px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  &__title,
  .list--content,
  .list--control {
    position: absolute;
    top: 0;
    bottom: 0;
    height: fit-content;
    margin: auto;
  }

  &__title {
    left: 32px;
  }

  .list--content,
  .list--control {
    display: flex;
    gap: 32px;
  }

  .list--content {
    width: fit-content;
    left: 0;
    right: 0;
  }

  .list--control {
    right: 32px;
  }

  &__nav {
    a {
      font-size: 24px;
      text-transform: uppercase;
      padding: 8px 0;
    }
  }

  &__bg {
    height: 51px;
    background: #000;
    border-bottom: 1px solid #777;
  }
  // &__list{
  // }
}
