.main {
  margin-top: 48px;

  & > .inner {
    width: 1152px;
    margin: 0 auto;
  }
}

.content-exhibition {
  position: relative;
  width: 560px;
  height: 280px;
  border-radius: 16px;
  overflow: hidden;
  background: center/cover no-repeat;
}

@media screen and (max-width: 1216px) {
  .main {
    & > .inner {
      width: calc(100% - 32px);
    }
  }
}
@media screen and (max-width: 756px) {
  .main {
    & > .inner {
      width: 100%;
    }
  }
}
