.post {
  width: 756px;

  &__title {
    font-size: 32px;
    margin-bottom: 24px;
  }

  &__image {
    width: auto;
    height: auto;
    max-width: 756px;
    max-height: 756px;
    margin-bottom: 32px;
  }

  &__caption {
    font-size: 24px;
    margin-bottom: 24px;
  }

  &__text {
    font-size: 20px;
    font-weight: 100;
  }

  &__text,
  &__preface__header,
  &__section > p {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 100;
  }

  &__comment {
    width: 756px;

    &-form,
    &-textarea {
      width: 100%;
    }

    &-form {
      margin-bottom: 48px;
    }

    &-textarea {
      background: #000;
      margin-bottom: 16px;
      height: 100px;
      color: #fff;
    }

    &-submit {
      width: 100%;
      padding: 8px;
      border: 1px solid #fff;
      text-transform: uppercase;
      color: #fff;
    }

    &-item {
      background: #222;
      margin-bottom: 16px;
      padding: 8px;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
    }

    &-information {
      display: flex;
      align-items: baseline;
      gap: 8px;
    }

    &-date {
      font-size: 80%;
    }

    &-button {
      color: #fff;
    }

    &-control{
      display: flex;
      gap: 16px;
    }

    &-text{
      margin-bottom: 12px;
    }
    
    &-body{
      margin-bottom: 16px;
    }
  }
}

@media screen and (max-width: 1152px) {
  .post {
    &__title,
    &__caption,
    &__text {
      padding: 0 16px;
    }
  }
}

@media screen and (max-width: 756px) {
  .post {
    width: 100%;

    &__image {
      width: 100%;
      height: auto;
      margin-bottom: 32px;
    }

    &__comment {
      width: 100%;
      padding: 0 16px;

      &-form,
      &-textarea {
        width: 100%;
      }
    }
  }
}
