@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');

@import './common';

@import './templates/header';
@import './templates/cover';

@import './components/cv';
@import './components/post';

@import 'main';
@import 'section';
@import 'form';

.guest {
  width: 50vw;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .guest {
    width: 80vw;
  }
}
@media screen and (max-width: 480px) {
  .guest {
    width: calc(100% - 32px);
  }
}
